@import "@scss/mixins";

@mixin badge-color($color, $background-color, $border-color) {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;
}

th:last-child {
  text-align: right;
}

.buttonContainer {
  @include flex-row;

  gap: 0.2rem;
  justify-content: flex-end;
}

.orderStateBox {
  @include text-style(0.85rem, 600);

  border-radius: 50rem;
  padding: 0.45rem 0.85rem;
}

.delivered {
  @include badge-color(#006d0e, #ccf0d1, #b3e9b9);
}

.pending {
  @include badge-color(#98530c, #ffe8d0, #fedcb9);
}

.cancelled {
  @include badge-color(#920000, #fdcccc, #fbb3b3);
}
