.container
{
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto;
}
.contentHeader
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}

.mainBox
{
    position: relative;
    box-shadow: 0 0.1rem 0.25rem rgb(0 0 0 / 8%);
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(222,226,230,.7);
    border-radius: 0.25rem;
}
.contentTitle
{
    margin: 0px;
}

.boxHeader
{
    padding: 1.3rem 1.3rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(222,226,230,.7);
}

.containerBoxHeader
{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(0 * -1);
    margin-right: calc(1.5rem / -2);
    margin-left: calc(1.5rem / -2);
}

.searchBox
{
    flex: 0 0 auto;
    width: 50%;
    
}

.selectionBox
{
    padding-right: calc(1.5rem / 2);
    padding-left: calc(1.5rem / 2);
    margin-top: 0;
    flex: 0 0 auto;
    width: 25%;
}

@media(max-width: 770px)
{
    .searchBox
    {

        width: 100%;
    }
    
    .selectionBox
    {
        width: 50%;
    }
}

.boxBody
{
    display: flex;
    flex-flow: row wrap;
}
.boxBodyContainer
{
    padding: 1.3rem;
    
}
.userBoxContainer
{
    width: 50%;
}
.userBox{
    min-width: 0;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 0.1rem 0.25rem rgb(0 0 0 / 8%);
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    border: 0 solid rgba(222,226,230,.7);
    border-radius: 0.25rem;
    padding: 1.3rem 1.3rem;
}

.imgContainer
{
    height: 156px;
    display: flex;
    align-items: flex-end;
    border-radius: 0.25rem 0.25rem 0 0;
    justify-content: center;
    background: linear-gradient(180deg, #FFE5A0 70%,white 30%);
}

.avataImg
{
    border-radius: 100%;
    border: #fff 3px solid;
}

.skeletonImg
{
    margin-bottom: 0px;
}

.userNameContainer
{
    text-align: center;
}

.informationContainer
{
    width: 100px;
}
.information
{
    color: #adb5bd;
    font-size: 1rem;
}