@import "@scss/mixins";

$icon-size: 25px;

.header {
    @include flex-common($justify: space-between);

    border-bottom: 1px solid $black-400;
    padding-left: 3%;
    padding-right: 3%;
    min-height: $header-height;
}

.searchBar {
    @include flex-items-center;

    height: $header-height;
}

.themeIcon {
    @include flex-common(space-between, center);

    width: 90px;
    margin-left: 1rem;
}
