@import "@scss/mixins";

.body {
    display: flex;
}

.container {
    height: 100vh;
    flex: 1;
    overflow: auto;
}

.main {
    padding: 30px 3%;
}

.notifications {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 400px;
    min-height: 50px;
    animation: came-from-left 0.5s;
}

@keyframes came-from-left {
    from {
        right: -400px;
    }

    to {
        right: 30px;
    }
}
