@import "@scss/mixins";

.header {
  @include flex-center-between;

  padding: 0 0.5rem;
}

.menu {
  @include flex-center;

  font-size: 2rem;
}

.sideBarToggle {
  @include flex-center;

  height: $header-height;
}
