@import '@scss/mixins';

.container {
  font-size: 12px;
  font-weight: 400;

  @include desktop {
    font-size: 16px;
  }
}

.sm {
  font-size: 14px;
}

.lg {
  font-size: 18px;
}

.fontMedium {
  font-weight: 500;
}

.fontBold {
  font-weight: bold;
}
