@import "@scss/mixins";

.body {
    display: flex;
}

.container {
    flex: 1;
}

.main {
    padding: 30px 3%;
    margin-left: auto;
    margin-right: auto;
    height: calc(100% - $header-height - 1px);
}
