@import "@scss/mixins";

.dialogContainer {
  position: fixed;
  bottom: 30px;
  right: 15px;
  width: 400px;
  min-height: 50px;
  z-index: 2;
  opacity: 1;
  animation: came-from-left 0.3s;
}

.pagination {
  margin-top: 5px;
  margin-left: auto;
  margin-right: 0;
}

@keyframes came-from-left {
  from {
    right: -400px;
  }

  to {
    right: 40px;
  }
}
