@import '@scss/mixins';

.rte {
  height: 200px;
  overflow: auto;
}

.detailImage {
  --size: 150px;
  @include center;
  @include flex-col-center;

  border-radius: 5px;
  width: var(--size);
  min-height: var(--size);

  img {
    object-fit: contain;
    width: var(--size);
    height: var(--size);
  }

  @include desktop {
    --size: 200px;
  }
}

.buttonWrapper {
  @include flex-center-end;

  margin-top: 20px;
}
