$white: #fff;
$black: #000;
$gold: #eca900;
$dark-gold: #b48100;
$ivory: #f8f8f6;
$coriander: #c5be93;
$overlay: rgba($black, 0.5);
$footer-bg: rgba($black, 0.8);
$orange: #fa0;
$dark-goldenrod: #c80;
$silver: #c0c0c0;
$matterhorn: #4e4e4e;
$crimpson: #e31837;
$night-rider: #333;
$old-rose: #bf1650;
$nobel: #999;
$dodger-blue: #1e90ff;
$medium-spring-green: #3f9;
$froly: #e56c75;
$early-dawn: #fcf4e1;
$matterhorn: #4b4b4b;
$papaya-whip: #ffefd5;
