@import "@scss/mixins";

.container {
    border-radius: 5px;
    padding: 15px 30px;
}
.row {
    @include flex-col;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;

    @include desktop {
        @include flex-row;
    }
}
.colLeft {
    margin-bottom: 20px;

    @include desktop {
        flex: 0.3;
        margin-bottom: unset;
    }
}
.colRight {
    @include desktop {
        flex: 0.7;
    }

    .row {
        border-bottom: unset;
        margin-bottom: 10px;
        padding: unset;

        .input {
            @include desktop {
                width: 100%;
            }
        }

        @include desktop {
        }
    }
}
.previewImage {
    --size: 100px;
    @include center;
    width: var(--size);
    height: var(--size);

    img {
        object-fit: contain;
        width: var(--size);
        height: var(--size);
    }

    svg {
        width: var(--size);
        height: var(--size);

        @include desktop {
        }
    }

    @include desktop {
        --size: 200px;
    }
}
.rte {
    height: 200px;
    overflow: auto;
}
.fileWrapper {
    @include center;
    margin-top: 20px;
}
.file {
    display: none;
}
.buttonWrapper {
    @include flex-center-end;
    margin-top: 20px;
}
