@import '@scss/mixins';

@mixin link-active {
  background-color: $black-500;
  color: $black-100;

  & > svg {
    color: $red-50;
  }
}

.menuActive {
  @include link-active;
}

.sideBarText {
  margin: 0;
  padding: 0.5rem 0;
  height: 60px;

  & a {
    @include text-style(20px, bold);

    border-radius: 4px;
    margin: 0 1rem;

    &.opened {
      @include flex-items-center;
      @include size(95%, 100%);

      padding: 0 1rem;
    }

    &.collapsed {
      @include flex-center;
      @include size(100%);
    }

    &:hover {
      @include link-active;
    }
  }
}
