@import '@scss/mixins';

.sideBarMenu {
  width: $sidebar-width;
  max-width: $sidebar-width;
  box-shadow: 0 0.1rem 0.25rem $black-400;
  z-index: 999;
  transition: width 250ms ease-out;

  &.collapsed {
    width: 80px;
    transition: width 250ms ease-in, transform 250ms ease;
  }

  @include small-screen(992px) {
    max-width: 200px;
  }

  @include small-screen(768px) {
    position: fixed;

    &.collapsed {
      transform: translateX(-80px);
    }
  }
}

.switchWrapper {
  @include flex-center;

  margin: auto 0 50px;

  span {
    display: none;

    &.opened {
      display: inline;
      font-weight: bold;
      margin-left: 10px;
    }
  }
}
