.notification {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
}

@keyframes came-from-left {
    from {
        right: -400px;
    }

    to {
        right: 30px;
    }
}
