@import '@scss/mixins';

.boxHeader {
  height: 30px;
  background-color: #6fdfdf;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.boxBody {
  @include flex-center-between;

  align-items: center;
  padding: 20px;
  @media (max-width: 850px) {
    flex-flow: column;
  }
}

.function {
  @include flex-common(space-between, center, column, nowrap);

  width: 30%;
}

.information {
  width: 60%;
  @media (max-width: 850px) {
    width: 100%;
  }
}

.line {
  @include flex-justify-center;

  margin: 10px;
}

.imageContainer {
  border-radius: 5px;
  border: 2px solid #4dabf7;
}
