@import "@scss/mixins";

.container {
    @include flex-col-center;
    height: 100vh;
}
.form {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    position: relative;
}
.row {
    margin-bottom: 20px;

    &.heading {
        @include flex-center-between;
    }

    &:last-child {
        display: grid;
        place-items: center;
    }
}
