@import "@scss/mixins";

.contentHeader {
    @include flex-common(space-between, center);
}

.totalSalesIcon {
    color: $blue-100;
}

.totalOrdersIcon {
    color: $green-100;
}

.totalProductsIcon {
    color: $orange-100;
}
