$white-100: #fff;
$white-200: rgba($white-100, 80%);
$white-300: rgba($white-100, 60%);
$white-100-border: $white-100;
$white-200-border: $white-200;
$green-100: #00b517;
$green-200: #33c445;
$green-300: #55d374;
$green-400: #b2e8b9;
$green-500: #e5f7e7;
$black-100: #1c1c1c;
$black-200: #585757;
$black-300: #969696;
$black-400: #e4e4e4;
$black-500: #ebeef9;
$black-600: #f7f7f7;
$red-50: #bb3431;
$red-100: #fa3434;
$red-150: #fa5252;
$red-200: #fb5d5d;
$red-300: #fc8585;
$red-400: #fdc2c2;
$red-500: #feeaea;
$blue-100: #3167eb;
$blue-200: #5a85ef;
$blue-300: #83a4f3;
$blue-400: #c1d1f9;
$blue-500: #eaeffd;
$orange-100: #ff9017;
$orange-200: #ffa645;
$orange-300: #ffbc74;
$orange-400: #ffddb9;
$orange-500: #fff3e7;
$header-height: 65px;
$sidebar-width: 250px;
