@import "@scss/mixins";

<<<<<<< HEAD
=======
.container {
    height: 100%;
}

.dialogContainer {
    animation: came-from-left 0.5s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 400px;
    min-height: 50px;
    z-index: 2;
}

>>>>>>> 37f147c (login form done, product form done, lacking of required auth and handle click for product form)
.pagination {
    margin-top: 5px;
    margin-left: auto;
    margin-right: 0;
}

<<<<<<< HEAD
.container {
    height: 100%;
}

.contentHeader {
    @include flex-common(space-between, center);
=======
@keyframes came-from-left {
    from {
        right: -400px;
    }

    to {
        right: 30px;
    }
>>>>>>> 37f147c (login form done, product form done, lacking of required auth and handle click for product form)
}
